<!doctype html>
<html>
<head>
    <title>Node Login System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<!-- navbar with website name and home page only -->
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">NodeLoginSystem</a>
            </div>
            <ul class="nav navbar-nav">
             <li class="active"><a href="/"><span style="color:black" class="fa fa-home"> Home</span></a></li>
            </ul>
        </div>
    </nav>
</div>

<!-- home page -->
<div class="container" style="padding-top: 120px">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-coffee" style=" color: red"></span> Welcome To <span style=" color: red" >Node</span> Login System</h1>

        <p>Please Login or Signup</p>

        <a href="/login" class="btn btn-primary"><span class="fa fa-user-circle-o"></span> Login</a>
        <a href="/signup" class="btn btn-success"><span class="fa fa-users"></span> Signup</a>
    </div>

</div>
</body>
</html>